* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
}
  
body {
  background: #ffffff;
  font-family: sans-serif;
  padding: 0;
}
  
header {
  min-height: 100vh;
  background-image: url("../homepage/img/bonsai_background.jpg");
  background-size: cover;
}
  
section {
  padding: 3em 2em 1em 2em;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  position: relative;
  box-shadow: -1em 0 2em 1em rgba(0, 0, 0, .3);
}
  
section .text {
  max-width: 600px;
  color: #fff;
  text-align: left;
  z-index: 2;
}
  
section h1 {
  font-size: 3em;
  margin-bottom: 0.3em;
}
  
@media screen and (max-width: 700px) {
  section {
    padding: 5em 2em 1em 2em; 
  }
  
  section h1 {
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
}
  
section p {
  font-size: 1.1em;
  line-height: 30px;
  color: #dbdbdb;
  padding: 1em 0;
}
  
ul {
  list-style: none;
}
  
/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
  
footer h1 {
  color: #fff;
  text-align: center;
  margin: 3em 0;
  font-size: 3em;
}
  
  /*Footer styles start here*/
footer * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
footer ul {
  list-style: none;
}
  
footer {
  color: #fff;
  background: #0e0e0e;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
  
footer p {
  color: #ccc; 
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}
  
footer a {
  color: #fff;
  text-decoration: none;
}
  
footer h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
  
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

  
.footer-brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}
  
.media-icons li,
.service-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}
  
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
  
.media-icons a:hover {
  background: #fff;
  color: #111;
}
  
.service-icons a {
  font-size: 1.6em;
}
  
.service-icons a:hover {
  color: #dbdbdb;
}

.footer-bottom {
  border-top: 1px #dbdbdb solid;
}


.footer-menu li {
  display: inline-block;
  margin: 0.7em 0.7em 0.7em 0;
  text-align: center; 
}


.footer-menu a  {
  transition: 0.3s;
  font-weight: 600;
}


.footer-menu a:hover {
  color: #3e763f;
}

.input-wrap {
  margin: 1em 0;
  display: flex;
}

.input-wrap input {
  padding: 0.5em;
  border: none;
  background: #20232a;
  color: #ccc;
}

.input-wrap input:focus {
  outline: none;
}

.input-wrap button {
  padding: 0.8em;
  background: #ff2b00;
  border: none;
  color: #fff;
}

.input-wrap button:hover {
  background: #fff;
  color: #111;
}

.footer4 {
  text-align: center;
}

.footer4 p {
  margin: 0 auto;
}

.footer4 .media-icons {
  margin: 1.5em 0;
}

  