.navbar {
    background: rgba(106, 129, 111, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100vw;
    padding: .9em 2em;
    color: #fff;
    transition: 0.5s ease-in-out;
    z-index: 100;
    position: fixed;
  }
  
  .navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: #b2b2b2;
  }
  
  .brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    transition: 0.4s ease-in-out;
  }
  
  .menu-btn {
    cursor: pointer;
    font-size: 1.3em;
    display: none;
    transition: 0.3s;
  }
  
  .menu-btn:hover {
    color: #ffffff;
  }
  
  .navbar-active {
    position: fixed;
    background: rgba(41, 74, 49, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: .3em;
  }
  
  @media screen and (max-width: 800px) {
    .menu-btn {
      display: block; 
    }
    .menu {
      position: absolute;
      top: 2.521em;
      left: -102%;
      width: 100vw;
      height: 100vh;
      background: rgba(24, 24, 24, 0.8);
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
    }

    .navbar-active {
      padding: .9em;
    }
    /*Dynamic class added 
    later with Javascript*/
    .navbar .menu-open {
      left: -1%;
      font-size: 20px;
      gap: 5em;
      font-weight: 500;
    }

  }














