.secondary-navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    padding: .9em;
    color: #fff;
    z-index: 100;
    position: fixed;
    top: 0
  }
  
  .secondary-navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .secondary-navbar a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .secondary-navbar a:hover {
    color: #b2b2b2;
  }
  
  .brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .secondary-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    transition: 0.4s ease-in-out;
  }
  
  .menu-btn {
    cursor: pointer;
    font-size: 1.3em;
    display: none;
    transition: 0.3s;
  }
  
  .menu-btn:hover {
    color: #ffffff;
  }
  
  @media screen and (max-width: 800px) {
    .menu-btn {
      display: block; 
    }
    .secondary-menu {
      position: absolute;
      top: 2.45em;
      left: -103%;
      width: 102%;
      height: 100vh;
      background: rgba(24, 24, 24, 0.8);
      flex-direction: column;
      justify-content: center;
      overflow-y: hidden;
    }

    /*Dynamic class added 
    later with Javascript*/
    .secondary-navbar .secondary-menu-open {
      left: -1%;
      font-size: 20px;
      gap: 5em;
    }
  }














