
.dash .panel {
    padding: 1em;
}
  
.dashboard-title {
    margin: .65em 0 0.5em 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 3px #00000065;
    text-align: left;
 }

 .market-status-icon {
    position: absolute;
    right: 5px;
    top: 5px;
 }

 @media  screen and (max-width: 900px) {
    .dashboard-title {
        text-align: center;
        font-size: 1.5em;
    }
    .stock-symbol {
        color: rgb(70, 123, 72);
        text-shadow: 1px 1px 5px #00000065;
    }
 }
  
.stock-symbol {
    color: rgb(70, 123, 72);
    text-shadow: 1px 1px  3px #00000065;
}
 
.overview, .user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
  
.overview .panel {
    display: flex;
    align-items: center;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
  
.overview .icon {
    background: var(--secondary);
    color: var(--accent);
    font-size: 1.3em;
    margin-right: 1em;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.overview h2 {
    margin-bottom: 0.2em;
}
   
.user-info {
    margin: 1em 0;
}
  
.profile-card {
    position: relative;
    text-align: left;
    grid-column: 1 / span 1;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
  
.chart-container {
    height: 400px;
    padding: 0;
    grid-column: 2 / span 3;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
  
.profile-card img {
    width: 4em;
}
  
.profile-card p {
    margin: 1em 0;
}
  
.profile-card h3 {
    margin: 0.5em 0;
}

.profile-card h5 {
    margin: 0.5em 0 0 0;
}
  
.profile-stats {
    position: relative;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 0em;
    align-items: center;
    text-align: left;
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    border-bottom: 2px solid rgb(198, 195, 195);
    align-items: flex-end;
}
  
.gallery {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
  
.gallery-box{
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.market-data {
    width: 100%;
    height: 20em;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.market-data-stats {
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 0em;
    align-items: center;
    text-align: left;
}

.market-data-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / span 1;
    border-bottom: 2px solid rgb(198, 195, 195);
    align-items: flex-end;
    padding: .8em;
    margin-bottom: 1em;
}
  
.thumbnails div {
    height: 9.8em;
}

.ticker-positive {
    color: #367F2E;
}

.ticker-negative {
    color: red;
}