 .sentiment-range-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    color: #fff; 
    margin: 2em auto;
  }
  
  .sentiment-slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 100%;
  }
  
  .sentiment-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5em;
    outline: none;
    border-radius: 3px;
    background: #1f1f1f;
    box-shadow: 
      inset 3px 3px 6px #000,
      1px 1px 1px #909090;
    cursor: pointer;   
  }
  
  .sentiment-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    z-index: 3;
    position: relative;
  }
  
  .sentiment-progress {
    width: 0;
    height: 0.4em;
    border-radius: 3px;
    background: linear-gradient(
      90deg,
      #fc1c1c,
      #16ff22
    );
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
    transition-property: box-shadow;
    transition-duration: 0.2s;
  }
  
  .sentiment-timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sentiment-slider-thumb {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: -0.5em;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
  }
  
  .sentiment-slider-values {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  
  .sentiment-range-slider:hover .progress {
    box-shadow: 0 0 1em #55ff71;
  }